.DS_Store

# Gradle
.gradle/
build/
*/build/

# Kotlin
.kotlin/

# Android
local.properties
*.apk
*.aab
captures/

# IDE
.idea/
*.iml

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.xcworkspace/xcuserdata/
